<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Some Website</title>
</head>
<body>
    {{> header}}

    <ul>
        <li><a href="http://project-aegis.pw/" target="_blank">Project-Aegis</a></li>
        <li><a href="http://argonaut.pw/Sora" target="_blank">Sora</a></li>
        <li><a href="http://argonaut.pw/" target="_blank">Argonaut Dev</a></li>
    </ul>

    {{> footer}}
</body>
</html>